.marginTop {
    margin-top: 20%;
}

.blueText {
    font-weight: 900 !important;
    color: #0003ff;
}

.cardTitleX1 {
    font-size: 1.5rem !important;
    word-wrap: normal;
  }
  
  .cardTitleX2 {
    font-size: 2.5rem !important;
    word-wrap: normal;
  }